@headHeight: 15rem;
@footHeight: 5rem;
@headAndFootWidth: 100%;
@contentWidth: 100%;

@font-family: sans-serif;
@font-size: 16pt;

@headAndFootColor: #BF7B3F;
@background-color: #ffffff85;
@text-color: black;
@button-color: #4C7326;

@input-border-radius: 4px;
@input-padding: 8px;
@input-margin: 10px;

@table-bg-color: #f9f9f9;
@table-header-bg-color: #333;
@table-header-text-color: #fff;
@table-row-hover-bg-color: #ddd;
@table-text-color: #333;

body {
  font-family: @font-family;
  font-size: @font-size;
}

header {
  background-color: @headAndFootColor;
  height: @headHeight;
  left: 0;
  top: 0;
  width: @headAndFootWidth;
}

#flex-header {
  align-items: center;
  display: flex;
  height: @headHeight;
  justify-content: center;
  width: @headAndFootWidth;
}

main {
  background-color: @background-color;
  color: @text-color;
}

footer {
  background-color: @headAndFootColor;
  height: @footHeight;
  width: @headAndFootWidth;
}

button {
  background-color: @button-color;
  border-radius: 5px;
  color: @text-color;
  font-family: @font-family;
  font-size: @font-size;
  /* Abstand und Padding */
  margin: 5px;
  padding: 10px 20px;
}

#Filterfunktion {
  align-items: baseline;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  div {
    margin-right: 20px;
  }

  p {
    display: block;
    margin-bottom: 10px;
    width: @contentWidth;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type='text'] ,
  input[type='number'] {
    border: 1px solid #cccccc;
    border-radius: @input-border-radius;
    box-sizing: border-box;
    display: block;
    margin-bottom: @input-margin;
    margin-top: @input-margin;
    max-width: 300px; // Limit the input field width
    padding: @input-padding;
    width: 100%;
    &:focus {
      border-color: @button-color;
      outline: none;
    }
  }

  input[type='text'] ,
  select {
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 8px;
    width: 300px;
    &:focus {
      border-color: @button-color;
      outline: none;
    }
}}

#names-table ,
#watchlist-table {
  list-style: none;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0;
  width: 100%;

  .dataContainer {
    align-items: center;
    border-bottom: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    &:last-child {
      border-bottom: 0;
    }

    &:nth-child(even) {
      background-color: @table-bg-color;
    }

    &:hover {
      background-color: @table-row-hover-bg-color;
    }

    .nameContainer ,
    .sexContainer ,
    .syllablesContainer ,
    .prioParaContainer {
      color: @table-text-color;
      flex: 1;
      margin-right: 10px;
    }

    .buttonContainer ,
    .prioButtonContainer {
      flex: 0;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

div#page-navigation {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  margin-top: 10px;
}
