@headHeight: 15rem;
@footHeight: 5rem;
@headAndFootWidth: 100%;
@contentWidth: 100%;

@font-family: sans-serif;
@font-size: 16pt;

@headAndFootColor: #BF7B3F;
@background-color: #ffffff85;
@text-color: black;
@button-color: #4C7326;

@input-border-radius:  4px;
@input-padding:  8px;
@input-margin:  10px  0;

@table-bg-color: #f9f9f9;
@table-header-bg-color: #333;
@table-header-text-color: #fff;
@table-row-hover-bg-color: #ddd;
@table-text-color: #333;

body {
  font-family: @font-family;
  font-size: @font-size;
}

header {
  background-color: @headAndFootColor;
  height: @headHeight;
  width: @headAndFootWidth;
  top: 0;
  left: 0;
}

#flex-header {
  height: @headHeight;
  width: @headAndFootWidth;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: @background-color;
  color: @text-color;
}

footer {
  background-color: @headAndFootColor;
  height: @footHeight;
  width: @headAndFootWidth;
}

button {
  font-size: @font-size;
  font-family: @font-family;
  background-color: @button-color;
  border-radius: 5px;
  color: @text-color;
  /* Abstand und Padding */
  margin: 5px;
  padding: 10px 20px;
}

#Filterfunktion {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;

  div{
    margin-right: 20px;
  }

  p {
    display:block;
    width: @contentWidth;
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom:  5px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="number"] {
    display: block;
    width:  100%;
    max-width:  300px; // Limit the input field width
    box-sizing: border-box;
    border:  1px solid #ccc;
    border-radius: @input-border-radius;
    padding: @input-padding;
    margin: @input-margin;
    &:focus {
      outline: none;
      border-color: @button-color;
    }
  }

  input[type="text"],
  select {
    display: block;
    width: 300px;
    box-sizing: border-box;
    border:  1px solid #ccc;
    border-radius:  4px;
    padding:  8px;
    margin:  10px  0;
    
    &:focus {
      outline: none;
      border-color: @button-color;
    }
}}

#names-table, #watchlist-table {
  list-style: none;
  padding:  0;
  margin:  0;
  width:  100%;

  .dataContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  10px;
    border-bottom:  1px solid #ddd;

    &:last-child {
      border-bottom: none;
    }

    &:nth-child(even) {
      background-color: @table-bg-color;
    }

    &:hover {
      background-color: @table-row-hover-bg-color;
    }

    .nameContainer,
    .sexContainer,
    .syllablesContainer {
      flex:  1;
      margin-right:  10px;
      color: @table-text-color;
    }

    .buttonContainer {
      flex:  0;
    }
  }
}

div#page-navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

