@main-background-color: #888888;
@button-color: #ffff99;

main {
  background-color: @main-background-color;
}

button {
  background-color: @button-color;
  /* Abrundung der Ecken */
  border-radius: 5px;
  /* Textfarbe */
  color: black;
  /* Abstand und Padding */
  margin: 5px;
  padding: 10px 20px;
}
